.loading-page{
    font-family: "Poppins", serif;
    flex: 1;
    margin: 0;
    /* font-weight: 100;
    font-style: normal; */
}

.logo-page{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 22px;
    padding-bottom: 22px;
    color: white;
}

.section-1{
    display: flex;
    justify-content: center;
    height: 680px;
    background:linear-gradient(rgba(85, 16, 169, 1), rgba(85, 16, 169, 1), rgba(45, 26, 66, 1))
}

.sub-section-1{
    margin-top: 165px;
    margin-left: 123px;
}

.sub-section-phone{
    background:linear-gradient(rgba(85, 16, 169, 1), rgba(85, 16, 169, 1), rgba(45, 26, 66, 1))
}
.sub-section-phone{
    width: 70%;
    height: 100%;
}
.sub-section-phone img{
    width: 100%;
    height: 100%;
}
.sub-section-1 h1{
    /* width: 540px;
    height: 130px; */
    /* margin-bottom: 70px; */
    margin: 0;
    color: white;
    font-size: 64px;
    font-weight: 700;
}
.sub-section-1 p {
    color: white;
    opacity: 65%;
    font-size: 19px;
    font-weight: 300; 
}

.sub-section-frame img{
    margin-top: 50px;
    margin-left: 85%;
}

.sub-section-text h2{
    font-size: 60px;
    font-weight: 600;
    color: rgba(45, 26, 66, 1);
    line-height: 58px;
    margin: 0;
}

.section-2{
    width: 100%;
    /* border: 1px blue solid;  */
    margin-bottom: 75px;

}

.sub-section-text p{
    margin: 0;
    font-size: 32px;
    font-weight: 600px;
    opacity: 65%;
    color: rgba(112, 122, 138, 1);
}

.sub-section-2{
    background-color: rgba(245, 242, 255, 1);
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 21px;
    /* border: 1px red solid; */
    margin-left: 9rem;
}

.sub-section-text{
    margin-left: 9rem;
    margin-bottom: 20px;
}

.sub-number{
    color: rgba(255, 109, 28, 1);
}

.sub-section-2-text h2{
    color: rgba(45, 26, 66, 1);
    font-size: 48px;
    font-weight: 600;
}

.sub-section-2-text p {
    font-size: 19px;
    font-weight: 300;
    opacity: 65%;
}

.section-3 {
    display: flex;
    justify-content: space-around;
    gap: 54px;
    margin-left: 9rem;
    margin-right: 9rem;
}

.section {
    display: flex;
    width: 362.33px;
    padding: 10px;
    border: 1px rgba(245, 242, 255, 1) solid;
    border-radius: 10px;
}

.section h2{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-size: 21px;
    font-weight: 600;
    margin-left: 20px;
}

.section-4 {
    background-image: url(pictures/Bitmap.png);
    margin-top: 4rem;
    margin-bottom: 5rem;
    /* height: %; */
    /* border: 1px red solid; */
    /* padding: 3rem; */
}

.sub-section-4 {
    margin-left: 7rem;
    margin-right: 7rem;
    display: flex;
    /* justify-content: center; */
    justify-content: space-around;
    align-items: center;
}

.section-4-text h2{
    font-size: 48px;
    font-weight: 600;
    color: rgba(45, 26, 66, 1);
}

.section-4-text h2 p {
    line-height: 58px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}
#money-sec{
    color: rgba(255, 109, 28, 1);
}

.section-5{
    display: flex;
    flex: 1;
    width: 90%;
    background-color: rgba(245, 242, 255, 1);
    border-radius: 21px;
    margin-left: 4rem;
    margin-right: 6rem;
}

.sub-section-5 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* margin-right: 5rem; */
}

#sub-text-5 {
    /* margin-right: 10rem; */
}

#sub-text-5 h2 {
    margin-bottom: 0;

    font-size: 48px;
    font-weight: 600;
    color: rgba(45, 26, 66, 1);
}

#two-subs{
    color: rgba(255, 109, 28, 1);
}

footer{
    /* display: flex; */
    background-color: rgba(45, 26, 66, 1);
    margin-top: 5rem;
    padding: 5rem;
}


